@import "./reset.css";
@import "./bootstrap.min.css";

@font-face {
	font-family: Aller;
	src: url(./fonts/Aller_Rg.ttf);
}

@font-face {
	font-family: Aller_italic;
	src: url(./fonts/Aller_It.ttf);
	font-style: italic;
}

@font-face {
	font-family: Aller_bold;
	src: url(./fonts/Aller_Bd.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Aller_bold_italic;
	src: url(./fonts/Aller_BdIt.ttf);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Aller_light;
	src: url(./fonts/Aller_Lt.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Aller_light_italic;
	src: url(./fonts/Aller_LtIt.ttf);
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Aller_bolder;
	src: url(./fonts/AllerDisplay.ttf);
	font-weight: bolder;
}

#root {
	min-height: 100%;
	height: 100%;
}

a {
	outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* letter-spacing: -0.05rem; */
	font-weight: 700;
}

html,
body {
	font-size: 10px;
}

h1 {
	margin-bottom: 96px;
	font-family: "Aller_light";
	font-size: 38px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.05;
	letter-spacing: 1px;
}

h2 {
	margin-bottom: 2rem;
	font-family: "PT Sans";
	font-size: 2.6955804153599994em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

h3 {
	margin-bottom: 2rem;
	font-family: "PT Sans";
	font-size: 2.3645442239999994em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

h4 {
	margin-bottom: 2rem;
	font-family: "PT Sans";
	font-size: 2.0741615999999996em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

h5 {
	margin-bottom: 2rem;
	font-family: "PT Sans";
	font-size: 1.8194399999999997em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

h6 {
	margin-bottom: 2rem;
	font-family: "PT Sans";
	font-size: 1.5959999999999999em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

p {
	margin-bottom: 2rem;
	font-family: Lato;
	font-size: 1.4em;
	line-height: 2rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0em;
}
